
.vs/ITunesSearchUtility/DesignTimeBuild/

.vs/ITunesSearchUtility/FileContentIndex/

.vs/ITunesSearchUtility/v17/

.vs/ProjectEvaluation/

ITunesSearchUtility/bin/Debug/net6.0-windows/

ITunesSearchUtility/obj/Debug/net6.0-windows/

ITunesSearchUtility/obj/

ITunesSearchUtility/bin/Release/net6.0-windows/

ITunesSearchUtility/Properties/PublishProfiles/FolderProfile.pubxml

ITunesSearchUtility/Properties/PublishProfiles/FolderProfile.pubxml.user

ITunesSearchUtility/ITunesSearchUtility.csproj.user
