<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ITunesSearchUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ITunesSearchUtility.Properties.Settings>
            <setting name="ContentNameInput" serializeAs="String">
                <value />
            </setting>
            <setting name="ContentSearchFilterIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContentSearchLimitNumber" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ContentSearchCountryCode" serializeAs="String">
                <value>US</value>
            </setting>
            <setting name="SearchNameInput" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlySearchFavorites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetSearchFavorites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToggleListViewGridlines" serializeAs="String">
                <value>False</value>
            </setting>
        </ITunesSearchUtility.Properties.Settings>
    </userSettings>
</configuration>